.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:5px 0 0 0;padding:0;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left {width:40px;float:left;text-align:center;}
.course-content ul.topics li.section .right {width:40px;float:right;text-align:center;}
.jumpmenu {text-align:center;}

#topicsearchsizer
{
    height: 36px;
}

#topicsearch
{
    /** This is hidden by default; it's unhidden automatically by JS. 
     *  This allows for progressive enhancement. */
    display: none;

    /** fix for box sizing on chrome */
    box-sizing: border-box;

    width: 100%;
    height: 36px;
    
    font-size: 14pt;
    padding-left: 50px;

    border: none;
    border-bottom: 1px dotted #000 !important;

    margin-bottom: 5px;

    background-image: url([[pix:format_topsearch|topicsearch]]);
    background-repeat: no-repeat;
    background-position: left center;
}

#topicsearch:focus
{
    outline: none;
}

.selectTarget
{
    background-color #FFF5AD !important;
    font-weight: bold;
    text-decoration: underline;
}


/**
 * Context Menu
 */

.context-menu-list {
    margin:0; 
    padding:0;
    
    min-width: 120px;
    max-width: 250px;
    display: inline-block;
    position: absolute;
    list-style-type: none;
    
    border: 1px solid #DDD;
    background: #EEE;
    
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
         -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.context-menu-item {
    padding: 2px 2px 2px 24px;
    background-color: #EEE;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

.context-menu-separator {
    padding-bottom:0;
    border-bottom: 1px solid #DDD;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.context-menu-item.hover {
    cursor: pointer;
    background-color: #39F;
}

.context-menu-item.disabled {
    color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
    cursor: default;
    background-color: #EEE;
}

.context-menu-submenu:after {
    content: ">";
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 1;
}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement 
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-chat { background-image: url([[pix:chat|icon]]); }
.context-menu-item.icon-choice { background-image: url([[pix:choice|icon]]); }
.context-menu-item.icon-data { background-image: url([[pix:data|icon]]); }
.context-menu-item.icon-lti { background-image: url([[pix:lti|icon]]); }
.context-menu-item.icon-resource { background-image: url([[pix:resource|icon]]); }
.context-menu-item.icon-folder { background-image: url([[pix:folder|icon]]); }
.context-menu-item.icon-glossary { background-image: url([[pix:glossary|icon]]); }
.context-menu-item.icon-forum { background-image: url([[pix:forum|icon]]); }
.context-menu-item.icon-imscp { background-image: url([[pix:imscp|icon]]); }
.context-menu-item.icon-label { background-image: url([[pix:label|icon]]); }
.context-menu-item.icon-lesson { background-image: url([[pix:lesson|icon]]); }
.context-menu-item.icon-page { background-image: url([[pix:page|icon]]); }
.context-menu-item.icon-quiz { background-image: url([[pix:quiz|icon]]); }
.context-menu-item.icon-scorm { background-image: url([[pix:scorm|icon]]); }
.context-menu-item.icon-survey { background-image: url([[pix:survey|icon]]); }
.context-menu-item.icon-url { background-image: url([[pix:url|icon]]); }
.context-menu-item.icon-wiki { background-image: url([[pix:wiki|icon]]); }
.context-menu-item.icon-workshop { background-image: url([[pix:workshop|icon]]); }


/* vertically align inside labels */
.context-menu-input > label > * { vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
    margin-left: -17px;
}
.context-menu-input > label > span {
    margin-left: 5px;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
    display: block;
    width: 100%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.context-menu-input > label > textarea {
    height: 100px;
}
.context-menu-item > .context-menu-list {
    display: none;
    /* re-positioned by js */
    right: -5px;
    top: 5px;
}

.context-menu-item.hover > .context-menu-list {
    display: block;
}

.context-menu-accesskey {
    text-decoration: underline;
}


.section_add_menus
{
    margin-top: 0px !important;
}

.section_add_menus .horizontal
{
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

.section_add_menus .iconhelp
{
    display: none;
}

.section_add_menus .menujump
{
    font-size: 12px;
} 

.path-course-view .section .img-text
{
    padding-bottom: 10px;
}

.path-course-view .left.side
{
    font-family: Oswald;
    color: #006a4e;
}
